@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div id="about" class="tm-section">
    <!-- About left -->
    <div class="tm-section-col tm-content tm-content-small">
        <h2 class="tm-text-primary">Acerca de nosotros</h2>
        <p>
            TechnoLand es una empresa de venta de electrónicos, enfocada celulares según las necesidades del cliente.
        </p>
        <hr class="tm-hr tm-mb-50">
        <h4 class="copper">Objetivos</h4>
        <p>
            •Nuestro objetivo y compromiso principal es tener lo último en tecnología para nuestros clientes.
        </p>
        <p>
            •Ayudarte a solucionar los problemas que se presenten con tus equipos.
        </p>
        <p>
            •Asegurarnos de que te lleves un producto dentro de especificaciones o de tus requerimientos.
        </p>
        
        <hr class="tm-hr tm-mb-50">
        <p>
            Ayudanos a tener una mejor experiencia dandonos una retroalimentacion,
        </p>
        <p class="tm-mb-50">
            Contactanos enviandonos un correo para consultas acerca de negocios de Technoland.
        </p>
        <div class="tm-text-right tm-mb-130">
            <form action="mailto:Technoland.negocios@gmail.com" method="get" enctype="text/plain">
                <button type="submit" class="tm-btn tm-btn-next">Contactanos</button>
            </form>
        </div>
    </div>

    <!-- About right -->
    <img class="tm-section-col tm-parallax" src="/images/assets/about.jpg" />
</div> <!-- #about -->